In [1]:


import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:


df = pd.read_csv("../data/medium_data_tfidf_df_x.csv", )
df.shape

(2231, 7848)

In [3]:

df.describe()

,Runtime,Box Office (Gross USA),Tomato Meter,Audience Score,No. Reviews,00,14th,190,20s,250,...,zombielike,zombified,zoological,zoologist,zoom,zorba,zorg,zu,zuckerberg,zurg
count,2231.000000,2.231000e+03,2231.000000,2231.000000,2231.000000,2231.000000,2231.0,2231.000000,2231.000000,2231.000000,...,2231.000000,2231.000000,2231.000000,2231.000000,2231.000000,2231.000000,2231.000000,2231.000000,2231.000000,2231.000000
mean,112.714478,6.305928e+07,0.623510,0.685675,166.654863,0.000169,0.0,0.000158,0.000259,0.000135,...,0.000200,0.000158,0.000169,0.000448,0.000317,0.000142,0.000158,0.000224,0.000339,0.000259
std,20.449688,9.526099e+07,0.268523,0.188791,105.654514,0.008002,0.0,0.007485,0.012223,0.006383,...,0.009468,0.007485,0.008002,0.021171,0.014970,0.006695,0.007485,0.010586,0.016004,0.012223
min,66.000000,0.000000e+00,0.000000,0.120000,5.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,98.000000,3.500000e+06,0.415000,0.550000,84.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,110.000000,2.860000e+07,0.670000,0.720000,151.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,124.000000,8.045000e+07,0.870000,0.840000,228.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,222.000000,8.584000e+08,1.000000,1.000000,601.000000,0.377964,0.0,0.353553,0.577350,0.301511,...,0.447214,0.353553,0.377964,1.000000,0.707107,0.316228,0.353553,0.500000,0.755929,0.577350

In [5]:




x = pd.read_csv("../data/medium_data_tfidf_x.csv", )

x.shape

(2230, 7847)

In [6]:

x

,141,60000000.0,0.83,0.95,232,Musical,0.0,0.0.1,0.0.2,0.0.3,...,0.0.7831,0.0.7832,0.0.7833,0.0.7834,0.0.7835,0.0.7836,0.0.7837,0.0.7838,0.0.7839,0.0.7840
0,105,41500000.0,0.70,0.92,164,Action,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,124,118000000.0,0.34,0.81,201,Action,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,158,61200000.0,0.58,0.59,328,Biography,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,116,147700000.0,0.40,0.90,264,Adventure,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,141,573900000.0,0.56,0.84,313,Action,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2225,104,50400.0,0.78,0.51,73,Western,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2226,104,2400000.0,0.97,0.82,191,Drama,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2227,98,199700.0,0.75,0.61,76,Western,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2228,95,27200.0,0.75,0.52,88,Western,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2229,95,9900.0,0.98,0.80,44,Mystery & thriller,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0